{% extends "base.html" %}
{% load static %}

{% block style %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{%static 'portfolio/style.css' %}" type="text/css" />
{% endblock %}

{% block content %}
  <box>
    <h1>New Post</h1>
  </box>  
    <form action="{% url 'portfolio:create' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      
      <h2>펀드명</h2>
      <textarea class="form-control" cols="20" rows="2" name="body"></textarea>
      <br />
      <div class="form-group">
        <label for="image">이미지</label>
        <input type="file" class="form-control-file" id="image" name="image"/>
      </div>
      <input class="btn btn-primary" type="submit" value="작성하기">
    </form>
    <a class="btn btn-primary" href="{% url 'portfolio:index' %}">목록</a>
{% endblock %}

<!--Label은 for, input은 id + name 필요! -->
<!--enctype: encoding type-->